// Normalize
// ―― » Container
html,
body {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  // ―― » Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  @extend body;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  outline-style: none;
  box-shadow: none;

  &:focus {
    outline-style: none;
    outline: none;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

textarea {
  min-height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}
